@{
    ViewData["Title"] = "Accommodations";
}
<h2>@ViewData["Title"].</h2>

<div class="hiltondallasrockwall">
    <h3>Hilton Dallas/Rockwall LakeFront</h3>
    <p>
        2055 SUMMER LEE DRIVE<br />
        ROCKWALL, TEXAS, 75032
    </p>
    <a href="http://www3.hilton.com/en/hotels/texas/hilton-dallas-rockwall-lakefront-DALRWHF/index.html">Hilton Dallas/Rockwall LakeFront Website</a>
</div>

<div class="holidayinnexpressroysecity">
    <h3>Holiday Inn Express & Suites Royse City - Rockwall</h3>
    <p>
        1001 Pullen Street<br />
        Royse City, Texas 75189
    </p>
    <a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/royse-city/dalrc/hoteldetail?cm_mmc=GoogleMaps-_-ex-_-USEN-_-dalrc">Holicay Inn Express Website</a>
</div>
<div>
    <h3>Super 8 Rockwall</h3>
    <p>
        1130 East I-30<br/>
        Rockwall, TX 75087
    </p>
    <a href="http://www.super8.com/hotels/texas/rockwall/super-8-rockwall/hotel-overview?WID=LC:SE:20150901:Rio:Local">Super 8 Rockwall Website</a>
</div>