@{
    ViewData["Title"] = "Accommodations";
}
<h2>@ViewData["Title"]</h2>

<div class="hiltondallasrockwall">
    <h3>Hilton Dallas/Rockwall LakeFront</h3>
    <p>
        2055 SUMMER LEE DRIVE<br />
        ROCKWALL, TEXAS, 75032
    </p>
    <h4>Host Hotel</h4>
    <p>
        Call toll free 1-800-HILTONS (445-8667) and
        <br />
        ask for the group rate with the group code of: <strong>WTS</strong>.
        <br />
        Click the link to reserve a room online at the group rate.
    </p>
    <a href="https://secure3.hilton.com/en_US/hi/reservation/book.htm?inputModule=HOTEL&ctyhocn=DALRWHF&spec_plan=WTS&arrival=20160526&departure=20160528&cid=OM,WW,HILTONLINK,EN,DirectLink&fromId=HILTONLINKDIRECT" target="_blank">Hilton Dallas/Rockwall LakeFront Website</a>
    <p><small>To ensure the group rate is available, guest must confirm reservations prior to the cut-off date of <strong>May 5,2016</strong>.</small></p>
</div>

<div class="holidayinnexpressroysecity">
    <h3>Holiday Inn Express & Suites Royse City - Rockwall</h3>
    <p>
        1001 Pullen Street<br />
        Royse City, Texas 75189
    </p>
    <a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/royse-city/dalrc/hoteldetail?cm_mmc=GoogleMaps-_-ex-_-USEN-_-dalrc" target="_blank">Holiday Inn Express Website</a>
</div>
<div>
    <h3>Super 8 Rockwall</h3>
    <p>
        1130 East I-30<br />
        Rockwall, TX 75087
    </p>
    <a href="http://www.super8.com/hotels/texas/rockwall/super-8-rockwall/hotel-overview?WID=LC:SE:20150901:Rio:Local" target="_blank">Super 8 Rockwall Website</a>
</div>