@{
    ViewData["Title"] = "Registry";
}
<h2>@ViewData["Title"]</h2>
<h3>WISHING WELL</h3>
<p>
    YOUR LOVE,<br/>
        LAUGHTER AND COMPANY<br/>
    ON OUR WEDDING DAY IS THE GREATEST GIFT OF ALL!!!<br/>
    HOWEVER, SHOULD YOU WISH TO HELP US CELEBRATE WITH A GIFT,<br/>
    A WISHING WELL WILL BE AVAILABLE AT OUR RECEPTION.<br/>
    KEN AND KESHIA
</p>
